*{
    box-sizing: border-box;
  }
  body{
    margin: 0, auto;
    max-width: 1000;
    /* border: 1px solid red; */
  }
  body div{
    width: 100%;
    display: flex;
    /* border: 1px solid green; */
  }
  header{
    display: flex;
    justify-content: center;
  }
  .game{
    display: flex;
    flex-direction: column;
  }
  .buttons{
    height: 30px;
    /* border: 1px solid red; */
    width: 400px;
  }
  #start{
    
  }
  #canvas{
    /* border: 1px solid blue; */
  }
  
  .rules{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .rules ul{
    text-align: left;
  }
.about{
  display: inline-block;
}
.about h3{
  text-align: center;
}