*{
    box-sizing: border-box;
  }
  body div{
    width: 100%;
    display: flex;
    border: 1px solid green;
  }
  .game{
    display: flex;
    flex-direction: column;
  }
  .buttons{
    height: 30px;
    border: 1px solid red;
  }
  #start{
    height: 25px;
    display: flex;
    align-content: center;
  }
  #canvas{
    border: 1px solid blue;
  }
  
  .rules{
    width: 50%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  .rules ul{
    text-align: left;
  }
